# Port
USER_SERVICE_PORT=3001
PRODUCT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003

# Metrics port
USER_METRICS_PORT=9101
PRODUCT_METRICS_PORT=9102
ORDER_METRICS_PORT=9103

LOG_AGGREGATOR_PORT=8080

LOG_AGGREGATOR_URL=http://log-aggregator:8080/logs

ENVIRONMENT=development

SCRAPE_INTERVAL=15